/* =========== single product page ========== */
.poduct-page{
	margin: 90px 5rem 0px 5rem ;
    display: flex;
    gap: 20px;
}
.sliderBx{
    width: 100%;
}
.sliderBxCon{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}