.card-image img {
    max-width: 100%;
    display: block;
    height: 100%;
}



.card {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 20px 50px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
    /* padding: 1.25rem; */
    position: relative;
    transition: 0.15s ease-in;
    margin: 10px;
    width: 180px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card:hover,
.card:focus-within {
    box-shadow: 0 0 0 2px #16c79a, 0 10px 60px 0 rgba(0, 0, 0, .1);
    /* transform: translatey(-5px); */
}

.card-image {
    overflow: hidden;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-header h1 {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    will-change: transform;

}



.icon-button {
    border: 0;
    background-color: #fff;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.25rem;
    transition: 0.25s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 3px 8px 0 rgba(0, 0, 0, .15);
    z-index: 1;
    cursor: pointer;
    color: #565656;
}

.icon-button svg {
    width: 1em;
    height: 1em;
}

.icon-button:hover,
.icon-button:focus {
    background-color: #ec4646;
    color: #fff
}

.card-footer {
    border-top: 1px solid #dddd;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    gap: 10px;

}

.card-meta {
    display: flex;
    align-items: center;
    color: #787878;
}

